/* .first-heading {
  color: brown;
} */
/* #first-heading {
  color: brown;
} */
h1 {
  color: brown;
}
.hero-image {
  height: 200px;
  width: 300px;
}

.color-change{
  color: blue;
}

.color-change span{
  color: red;
}

.button{
  margin: 0;
  color: rgb(0, 0, 0);
  border-radius: 2%;
}

.btn-primary {
  color: #fff;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

/* list style: none */
.unorder{
  list-style: none;
}

/* custom nav-bar */
.custom-nav{
  display: flex;
  justify-content: space-between;
  background: #814efa;
  align-items: center;
  padding:0 1rem 0 1rem;
}


.first-ul ul{
display: flex;
list-style: none;
padding: 15px;
font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
  text-decoration: none;

}

.first-ul li{
  margin: 5px;
  color: #000;
}

.table_custo{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
th, td {
  padding: 10px;
  border: 2px solid #000;
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 33%;
}

th {
  background-color: #05cdff;
  font-weight: bold;
}
i{
  display: flex;
}
