/* .first-heading {
  color: brown;
} */
/* #first-heading {
  color: brown;
} */
h1 {
  color: brown;
}
.hero-image {
  height: 200px;
  width: 300px;
}

.color-change{
  color: blue;
}

.color-change span{
  color: red;
}

.button{
  margin: 0;
  color: blue;
  border-radius: 2%;
}

.bold{
  font-weight: bold;
  font-size: 50px;
}

/* list style: none */
.unorder{
  list-style: none;
}

/* custom nav-bar */
.custom-nav{
  display: flex;
  justify-content: space-between;
  background: #814efa;
  align-items: center;
  padding:0 1rem 0 1rem;
}


.first-ul ul{
display: flex;
list-style: none;
padding: 15px;

}

.first-ul li{
  margin: 5px;
}

.btn{

}